<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmbl.ops.model.house.OfficeBuilding" >
  <resultMap id="BaseResultMap" type="com.xmbl.ops.model.house.OfficeBuilding" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="poitype" property="poitype" jdbcType="VARCHAR" />
    <result column="realaddress" property="realaddress" jdbcType="VARCHAR" />
    <result column="areaid" property="areaid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, address, location, poitype, realaddress, areaid, status, remarks, operator, createtime, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from office_building
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from office_building
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xmbl.ops.model.house.OfficeBuilding" >
    insert into office_building (id, address, location, 
      poitype, realaddress, areaid, 
      status, remarks, operator, 
      createtime, updatetime)
    values (#{id,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{poitype,jdbcType=VARCHAR}, #{realaddress,jdbcType=VARCHAR}, #{areaid,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xmbl.ops.model.house.OfficeBuilding" >
    insert into office_building
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="poitype != null" >
        poitype,
      </if>
      <if test="realaddress != null" >
        realaddress,
      </if>
      <if test="areaid != null" >
        areaid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="poitype != null" >
        #{poitype,jdbcType=VARCHAR},
      </if>
      <if test="realaddress != null" >
        #{realaddress,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmbl.ops.model.house.OfficeBuilding" >
    update office_building
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="poitype != null" >
        poitype = #{poitype,jdbcType=VARCHAR},
      </if>
      <if test="realaddress != null" >
        realaddress = #{realaddress,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        areaid = #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmbl.ops.model.house.OfficeBuilding" >
    update office_building
    set address = #{address,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      poitype = #{poitype,jdbcType=VARCHAR},
      realaddress = #{realaddress,jdbcType=VARCHAR},
      areaid = #{areaid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
      <select id="searchList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
          from office_building 
          <where>
		   <if test="id != null and id != ''">
				id = #{id,jdbcType=BIGINT}
			</if>
			<if test="address != null and address != ''">
				AND address = #{address,jdbcType=VARCHAR}
			</if>
			<if test="location != null and location != ''">
				AND location = #{location,jdbcType=VARCHAR}
			</if>
			<if test="poitype != null and poitype != ''">
				AND poitype = #{poitype,jdbcType=VARCHAR}
			</if>
			<if test="realaddress != null and realaddress != ''">
				AND realaddress = #{realaddress,jdbcType=VARCHAR}
			</if>
			<if test="areaid != null and areaid != ''">
				AND areaid = #{areaid,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status,jdbcType=INTEGER}
			</if>
			</where>
		 order by createtime desc
		<if test="offset != null and limit != null">
		limit #{offset},#{limit};
		</if>
	</select>
	<select id="searchCount" resultType="long">
		select
		count(1)
		from office_building 
		<where>
		 <if test="id != null and id != ''">
				id = #{id,jdbcType=BIGINT}
			</if>
			<if test="address != null and address != ''">
				AND address = #{address,jdbcType=VARCHAR}
			</if>
			<if test="location != null and location != ''">
				AND location = #{location,jdbcType=VARCHAR}
			</if>
			<if test="poitype != null and poitype != ''">
				AND poitype = #{poitype,jdbcType=VARCHAR}
			</if>
			<if test="realaddress != null and realaddress != ''">
				AND realaddress = #{realaddress,jdbcType=VARCHAR}
			</if>
			<if test="areaid != null and areaid != ''">
				AND areaid = #{areaid,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status,jdbcType=INTEGER}
			</if>
        </where>
	</select>
  
  
</mapper>