<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmbl.ops.model.house.OperatorLog" >
  <resultMap id="BaseResultMap" type="com.xmbl.ops.model.house.OperatorLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="visitId" property="visitid" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, visitId, content, type, operator, createtime, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from operator_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from operator_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xmbl.ops.model.house.OperatorLog" >
    insert into operator_log (id, visitId, content, 
      type, operator, createtime, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{visitid,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xmbl.ops.model.house.OperatorLog" >
    insert into operator_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="visitid != null" >
        visitId,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="visitid != null" >
        #{visitid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateIfNecessary" parameterType="com.xmbl.ops.model.house.OperatorLog" >
    update operator_log
    <set >
      <if test="visitid != null" >
        visitId = #{visitid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmbl.ops.model.house.OperatorLog" >
    update operator_log
    set visitId = #{visitid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   	<select id="searchCount" resultType="long">
		select
		count(1)
		from operator_log
		<where>
		<if test="userKey != null and userKey != ''">
			operator = #{userKey,jdbcType=VARCHAR}
		</if>
		<if test="startDate != null">
			AND createtime &gt;= #{startDate,jdbcType=TIMESTAMP}
		</if>
		<if test="endDate != null">
			AND createtime &lt;= #{endDate,jdbcType=TIMESTAMP}
		</if>
		</where>
	</select>
		<select id="searchList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		 from operator_log
	   	<where>
			<if test="userKey != null and userKey != ''">
				operator = #{userKey,jdbcType=VARCHAR}
			</if>
			<if test="startDate != null">
				AND createtime &gt;= #{startDate,jdbcType=TIMESTAMP}
			</if>
			<if test="endDate != null">
				AND createtime &lt;= #{endDate,jdbcType=TIMESTAMP}
			</if>
		</where>
		order by createtime desc
		<if test="offset != null and limit != null">
		limit #{offset},#{limit};
		</if>
	</select>
  
</mapper>