<ion-view view-title="我的收藏" need-login>
    <ion-header-bar align-title="center" class="bar-positive bar-header-black">
        <h1 class="title">我的收藏</h1>
        <div class="buttons">
            <a class="button button-icon icon ion-ios-telephone-outline" href="http://www.baidu.com"></a>
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
        <div class="padding" style="background-color: #F1E9CF;color:#8E7525;margin: 1px;">
            您还没有收藏的房间
        </div>
        <ion-list>

        </ion-list>
    </ion-content>
</ion-view>
